

header {
    background-color: green;
    }

.info h3 {
    background-color: darkorchid; 
    color: black; 
    }      
.info h2 {
    background-color: plum;
}
.info img {
    display: block;
    max-width: 100%;
    height: auto;
}